<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
  </head>
  <body>
    <header>
      <h1>Menu</h1>
    </header>
    <nav>
      <ul>
        <li><a href="../static/html/cadastro_produto.html" class="button">Cadastrar Produtos</a></li>
        <li><a href="../static/html/cadastro_usuario.html" class="button">Cadastrar Usuários</a></li>
      </ul>
    </nav>
  </body>
</html>
