<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Índice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
</head>
<body>
  <header>Menu</header>
    <h1>Bem-vindo(a), {{ username }}!</h1>
    <a href="/logout" class="button">Sair</a> <!-- Link para fazer logout -->
    <nav>
        <ul>
            <li><a href="../static/html/cadastro_produto.html" class="button">Cadastrar Produtos</a></li>
            <li><a href="../static/html/cadastro_usuario.html" class="button">Cadastrar Usuários</a></li>
            <li><a href="../static/html/cadastro_estoque.html" class="button">Cadastrar Estoque</a></li>
            <li><a href="../static/html/venda.html" class="button">Cadastrar Venda</a></li>
        </ul>
    </nav>
    <script>      
      const form = document.querySelector('form');
      form.addEventListener('submit', (e) => {
        e.preventDefault();
        const data = new FormData(form);
        fetch('/logout', {
          method: 'POST',
          body: data
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
      });
    </script>
</body>
</html>
