*{
    box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fbf7f7;
    }
    
    header {
      font-size: x-large;
      background-color: #333;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 20px;
    }
    
    nav {
      background-color: #ededed;
      padding: 10px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    nav ul li {
      margin: 0 10px;
    }
    
    nav ul li a {
      display: block;
      padding: 10px;
      color: rgb(255, 255, 255);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    
    nav ul li a:hover {
      background-color: #333;
    }
    
    .button {
      background-color: #4CAF50;
    }
    
    .button:hover {
      background-color: #3e8e41;
    }
    
    a{
      background-color: #4CAF50;
      display: inline-flex;
      padding: 3px;
      color: rgb(255, 255, 255);
      text-decoration:none;
      text-transform: uppercase;
      font-weight:bold;
      border-radius: 7px;
      transition: background-color 0.3s ease;
      text-align: center;
    }

    h1{
      font-size:larger;
      text-align: left;
      display:flow-root;
      padding:0%;
      background-color: #fbf7f7;
    }
    
  
  